flynt-component[name='ListingPastEvents'] {
  .post {
    background: transparent !important;
    
    &:hover {
      background: var(--bgColor) !important;
    }

    &.open {
      background: var(--bgColor) !important;
    }
  }
  
  figure {
    img {
      aspect-ratio: 4/3;
      object-fit: cover;
    }
  }
}
