<button @click="open = !open" data-ref="menuButton" class="hamburger hamburger-open" type="button" aria-expanded="false" aria-controls="navigationBurger-menu">
  <div class="rotate-0 px-xs w-fit h-fit">
    <span class="visuallyHidden">{{ labels.toggleMenu }}</span>
    <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="-1.75" x2="34.0692" y2="-1.75" transform="matrix(0.69286 0.721072 -0.69286 0.721072 0.857788 3.43359)" stroke="white" stroke-width="3.5"/>
      <line y1="-1.75" x2="34.0692" y2="-1.75" transform="matrix(0.69286 -0.721072 0.69286 0.721072 3 27.5654)" stroke="white" stroke-width="3.5"/>
    </svg>
  </div>
</button>
