<button @click="open = !open" data-ref="menuButton" class="hamburger hamburger-closed" type="button" aria-expanded="false" aria-controls="navigationBurger-menu">
  <div class="rotate-0 px-xs w-fit h-fit">
    <span class="visuallyHidden">{{ labels.toggleMenu }}</span>
    <svg width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.965576" y1="2.52539" x2="34.3483" y2="2.52539" stroke="white" stroke-width="3.5"/>
      <line x1="0.965576" y1="15.0254" x2="34.3483" y2="15.0254" stroke="white" stroke-width="3.5"/>
      <line x1="0.965576" y1="27.5254" x2="34.3483" y2="27.5254" stroke="white" stroke-width="3.5"/>
    </svg>
  </div>
</button>
